.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background-color: #f5f5f5;
}

.sign-up__form {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sign-up__form__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.sign-up__form__username,
.sign-up__form__password,
.sign-up__form__confirm-password {
    margin-bottom: 20px;
    position: relative;
}

.sign-up__form__username__label,
.sign-up__form__password__label,
.sign-up__form__confirm-password__label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

.sign-up__form__username__input,
.sign-up__form__password__input,
.sign-up__form__confirm-password__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 7px;
}

.sign-up__form__username__input:focus,
.sign-up__form__password__input:focus,
.sign-up__form__confirm-password__input:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

.sign-up__form__username__error-message,
.sign-up__form__password__error-message,
.sign-up__form__confirm-password__error-message {
    position: absolute;
    font-size: 14px;
    margin-top: -8px;
    color: #f44336;
}

.sign-up__form__sign-up-error {
    position: revert;
    font-size: 14px;
    margin-top: -20px;
    color: #f44336;
    text-align: center;
}

.sign-up-form__sign-up__button {
    width: 100%;
    height: 40px;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
}

.sign-up-form__sign-up__button:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #3f5196;
}

.sign-up-form__sign-up__button:active {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
